/* THEME */
@body-background: #f5f5f5;

@base-background: #33414E;
@base-background-active: #273541;

/* TEXT COLORS */
@base-color: #656D78;
@base-heading-color: #434A54;
/* END TEXT COLORS */
    
    @theme-color: #33414E;
    
    /* BASE ELEMENT COLORs */
    @base-primary: #33414E;
    @base-success: #95B75D;
    @base-info: #3FBAE4;
    @base-warning: #FEA223;
    @base-danger: #B64645;
    /* EOF BASE ELEMENT COLORs */
        
    /* START X-NAVIGATION */
    @xn-background: @base-background;
    @xn-background-active: @base-background-active;
        @xn-background-logo: @base-background;
    @xn-search-input: #FFF;
    @xn-search-input-color: @base-background;
        
    @xn-color: #FFF;
    @xn-color-sub: #CCC;
        @xn-icon-color: @xn-color;
        @xn-icon-color-hover: #FFD559;
        @xn-submenu-width: 220px;        

    @xn-horizontal-background: @base-background;
        @xn-horizontal-background-hover: lighten(@xn-horizontal-background,5%);
        
        @xn-horizontal-color: @xn-color;
            @xn-horizontal-icon: @xn-color;
            @xn-horizontal-icon-hover: #FFD559;
    /* END X-NAVIGATION */    
    
    /* START WIDGETS */
        @widget-primary: @base-primary;                
        @widget-success: @base-success;
        @widget-info: @base-info;
        @widget-warning: @base-warning;                
        @widget-danger: @base-danger;
    /* END WIDGETS */
    
    /* COMMENTS */
    @bg-comments: #eff7ff;
    /* END COMMENTS */
    
    /* SIDEBAR */
    @sidebar_width: 300px;
    @sidebar_background: #27313C;
    @sidebar_title_background: darken(@sidebar_background,3%);
    @sidebar_title_color: #AABECF;
    @sidebar_tabs_color: #F5F5F5;
    @sidebar_color: #FFF;
    /* END SIDEBAR */    
    
/* EOF THEME */


// .x-navigation {


//     li.xn-logo > a:first-child {
//         background-size: 80%!important;
//         background-position: 50%!important;
//     }
// }

.x-navigation .xn-search {


    input {
        // color: @base-background;
        // border: #ccc;
        
        width: 100%;
    }
}

.x-navigation li.xn-logo {
    width: 100%;
}


.xn-button{
    width: 100%!important;
    
    button{
        margin: 5px 5%;
        width: 89%;
        padding: 12px 17px!important;
    }
}

.x-navigation li > a {
    border-bottom: 1px solid #2f3c48;
}

.notifications .list-group .list-group-item{
    
    .notification-check {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        right: 2vw;
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 28px;
        color: #95b75d;
        border: 1px solid #95b75d;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;

        .fa {
            margin-right: 0;
        }
    }
    .btn-news {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        left: 2vw;
    }

    p, .contacts-title {
        margin-right: 50px;
        margin-left: 50px;
    }
}

.contact-info {
    height: 134px;
    // overflow-y: scroll;
}


/* permission-radio */
.permission-radio {
    margin: 0px;
    display: block;
    float: left;
    position: relative;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    -webkit-transition-delay:  .2s; /* Chrome, Safari, Opera */
    transition-delay:  .2s;

    &:last-child {
        margin-right: 0px!important;
    }
    
    input[type=radio], input[type=checkbox] {
        visibility: hidden;
        width: 0px;
        height: 20px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        -webkit-transition-delay:  .2s; /* Chrome, Safari, Opera */
        transition-delay:  .2s;
    }

    input[type=radio]:checked,input[type=checkbox]:checked{
        width: 20px;

        & + label{
            display: block;
            width: 20px;

        }

        & + label:before {
            opacity: 1;
        }    
    }

    label {
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        -webkit-transition-delay:  .2s; /* Chrome, Safari, Opera */
        transition-delay:  .2s;
        width: 0px;
        height: 20px;
        cursor: not-allowed;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4px;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
        // display: none;

        
        &:before {
            content: '';
            width: 12px;
            height: 6px;
            position: absolute;
            top: 5px;
            left: 4px;
            border: 2.5px solid #fcfff4;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
        }
        &:hover::before {
            opacity: 0.5;
        }
    }

    &.candidate label{
        background: @base-info;
        &[disabled], &.disabled {background: lighten(@base-info,10%);}
    }

    &.contributor label{
        background: @base-success;
    }

    &.publisher label{
        background: @base-warning;
    }
    &.expert label{
        background: @base-danger;
    }

}/* end permission-radio */

/* LIST GROUP category */
.list-group-category {
    padding: 0px;
    margin: 0px;

    .list-group-item {
        padding: 0;
        cursor: auto;
        
        .category-title{position: relative;padding: 10px 120px 10px 30px;display: block;width: 100%; height: 100%;font-size: 13px; font-weight: 600; line-height: 20px;}
        
        > ol {
            max-height: 0px; 
            overflow: hidden;
        }

        &.cat-openable {
            
            span#need-for-openable{    
                display: block;
                cursor: pointer;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }

            &:before{position: absolute; font-family: "FontAwesome"; content: "\f107"; font-size: 14px; width: 20px; height: 20px; color: @base-background; margin-left: 10px; top: 12px; cursor: auto;}

            .list-group-item
        }


        &.opened{
            &.cat-openable:before{content: "\f106";}            
           
            > ol{max-height: 1200px;}            
        }

        
    }

    & .nested {
        .list-group-item {
            margin-left: 30px;
            border-bottom: 0;
            border-right: 0;
        }
    } 

    .category-permissions  {
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -10px;
        display: block;
    }
}

.list-group-category.permissions-edit {
    .list-group-item {
        padding: 0;
        background: #EEE;
        color: #AAA;
        cursor: auto;

        &:hover {
            background: lighten(#EEE,2%);
        }
        &.admin-of-cat, &.admin-of-cat li {

            background: #FFF;
            color: #656d78;
            &:hover, &:focus{background: #F9F9F9;}  

            .category-title:after {
                content: '(Администратор)';
                padding-left: 10px;
                font-size: 9px;
                font-style: italic;
                color: @base-danger;
                font-weight: normal;
            }

            ol li .category-title:after {
                content: '';
            }

            ol li.admin-of-cat .category-title:after {
                content: '(Администратор)';
            }

            &:hover .permission-radio{ //, .permission-radio {
                margin-right: 5px;


                input[type=radio],input[type=radio]:checked{
                    width: 20px;

                    & + label{
                        display: block;
                        width: 20px;
                        cursor: pointer;

                    }
                }
            }
        }
    }
}

.list-group-category.articles, .list-group-category.permissions  {
    a {
        color: @base-background;
    }
    
    .list-group-item.active {
        

        a {color: white;}

        &.cat-openable {

            span#need-for-openable{    
                width: 30px;
            }

            &:hover:before {
                background-color: lighten(@base-background,10%);
            }

            &:before {
                color: #FFF;
            }
        }

        &.opened {
            border-bottom-right-radius: 5px;
        }

        .nested a {color: @base-background;}
    }

    .list-group-item.cat-openable {

        &:hover:before {
            background-color: #F3F3F3;
        }

        &:before {
            margin-left: 6px;
            top: 10px;
            cursor: auto;
            border-radius: 50%;
            text-align: center;
        }
    }
    .permission-radio {
        label{cursor: auto;}

        label:before {
            color: #FFF;
            transform: rotate(0);
            border: 0;
            top: 0px;
            left: 5px;
            font-weight: 100;
            cursor: auto;
            display: inline-block;
            text-align: center;
            font-size: 14px;
        }

        &.candidate label:before{
            content: 'С';
            left: 4px;
        }

        &.contributor label:before{
            content: 'П';
        }

        &.publisher label:before{
            content: 'Р';
        }
        &.expert label:before{
            content: 'Э';
        }
    }
}

.list-group-category.permissions {
    .list-group-item.cat-openable {
        span#need-for-openable{    
            width: 100%;
        }
    }
    .permission-radio  {

        input[type=radio] {
            display: none;

            & + label{
                display: none;
            }
        }

        input[type=radio]:checked{
            display: block;
            
            & + label{
                display: block;
            }
        }
    }
}

table.table.profile-info {
    td:first-child {
        font-weight: 600;
        text-align: right;
        padding-right: 20px;
    }

    tr:first-child td, tr:first-child th {
        border: 0;
    }
}

/* END LIST GROUP category */

.permissions-legend {
    .permission-radio {
        margin: 10px;
        display: inline-block;
        float: none;
        position: relative;
        width: 100%;


        label span {
            margin-left: 26px;
            margin-top: 2px;
            display: inline-block;
            width: 200px;
            float: left;
        }
    }
}


.profile-controls {
    .profile-control-right{
        display: none;
        &.active {
            display: block;
        }
    }
    
}


.table-middle {
    td {
        vertical-align: middle!important;
    }
}

.panel-body.panel-body-table .table {
    
    tr > td:last-child {
        text-align: right;
    }
    
    tr > td:first-child {
        text-align: left;
        padding-left: 15px
    }
}

.badges {
    display: inline-block;
    width: 90%;
    text-align: right;

    a { 
        padding: 1px;
        margin: 1px;
        width: 32px;
        height: 32px;
        display: block;
        float: right;

        img {
            width: 30px;
            padding: 0;
            margin: 1px;
        }
    }
}


.skills-list {
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin: 3px 0px 3px 0px;
    padding: 1px 0px;
    list-style: none;
 
    .skill {
        margin: 0;
        padding: 0;
        cursor: pointer;
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
  
        .skill-count {
            min-width: 24px;
            padding: 3px 2px;
            color: #fff;
            // font-weight: bold;
            // text-shadow: #666 0 1px 0;
            border-radius: 3px 0 0 3px;
            text-align: center;
            border-bottom: 1px solid #1ba8e5;
            float: left;
            background-color: #bbb;
            border-color: #bbb;
            -webkit-transition: background-color 0.2s;
            -moz-transition: background-color 0.2s;
            -o-transition: background-color 0.2s;
            transition: background-color 0.2s;
        }
   
        .skill-name {
            max-width: 515px;
            text-overflow: ellipsis;
            padding: 3px 13px;
            float: left;
            line-height: 24px;
            line-height: 17px;
            color: #333;
            background-color: #f0f0f0;
            position: relative;
            border-bottom: 1px solid #ddd;
            border-right-color: #dddddd;
            border-right-style: solid;
            border-right-width: 1px;
            border-radius: 0 3px 3px 0; 
        }
   
        &:hover {
    
            .skill-count {
                background-color: #1ba8e5;
                text-shadow: #666 0 1px 0;
                border-bottom-color: #1ba8e5;
            }
        }
        
    }
}


.btn-news {
    padding: 2px 7px!important;
    margin-right: 10px!important;
    cursor: default;

    .fa {
        font-size: 12px!important;
        margin-right: 0px!important;
    }
}



.list-tags li a {
    background: @base-background!important;
    color: #FFF!important;
    border: none!important;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;

    &:hover {
        background-color: @base-background-active!important;
    }
}




.articles {
    overflow: hidden;
    
    .article {
        position: relative;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        padding-bottom: 24px!important;
        padding: 8px 10px;
        border-top: 1px solid #E5E5E5;

        &:first-child {
            border-top: 0;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        &:last-child {
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:nth-child(odd) {
            background: #F8FAFC;
        }

        &:nth-of-type(odd) {
            background-color: #f9f9f9;
        }

        .show-more {
            position: absolute;
            left: 50%;
            display: block;
            width: 100%;
            margin-left: -50%;
            text-align: center;
            font-size: 21px;
            margin-top: 2px;
            color: #33414E;
            cursor: pointer;
            height: 22px;
            line-height: 22px;
            bottom: 0;
            z-index: 2;

            &:hover {
                background-color: #F1F1F1;
            }

            .fa {
                padding: 0;
                margin: 0;   

            }
        }

        .article-info {
            float: left;
            width: 70%;

            .article-title {
                display: inline-block;
                font-weight: bold;
                color: @base-background!important;
            }

            .article-date {
                display: block;
                margin-bottom: 3px;
                margin-left: 20px;
            }

            .article-category {
                display: block;
                margin-bottom: 6px;
                margin-left: 20px;
            }
            .article-tags {
                margin-left: 20px;
                padding-right: 10px;
            }
        }

        .article-control {
            width: 30%;
            font-size: 12px;
            color: #CCC;
            font-weight: bold;
            float: right;
            text-align: right;
            
            a {
               color: #aaa; 
               padding: 0 0px;
               &:hover {
                    color: @base-background; 
                }
            }
            
            #article-score {
                padding: 0 2px;
                color: @base-background; 
            }

            #article-export {
                font-size: 14px;
                padding: 2px 0px 0 8px;
                color: @base-background; 
            }

            .article-authors {
                font-weight: normal;
                margin-top: 30px;
                text-align: right;
                color: @base-background!important;
                a {
                    color: @base-background!important;
                }
            }
        }
    }


    .article-description {
        overflow: hidden;
        width: 100%;
        z-index: 0;
        opacity: 0;
        padding: 0px 20px 0px 35px;
        max-height: 0;

        -webkit-transition: 200ms ease;
        -moz-transition: 200ms ease;
        -ms-transition: 200ms ease;
        -o-transition: 200ms ease;
        transition: 200ms ease;

        &.opened {
            opacity: 1;
            max-height: 500px;
            padding: 10px 20px 20px 35px;
        }
    }
}

.panel-body-table .table {
    border-radius: 5px;
    tr > td {
        border-radius: 5px;
    }
}

.status{
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    .border-radius(5px);
    background: #CCC;
    border: 0px;
    
    &.status-rejected{
        background: #E34724;
    }
    &.status-aproved{
        background: #95B75D;
    }
    &.status-published{
        background: #3FBAE4;
    }
}

.dashboard-rating {
    font-size: 15px;
    display: block;
    float: right;
    text-align: right;
    margin: 1px 14px 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;

    &:hover {
        margin: 0 14px;
        font-size: 16px;
        // color: @base-background-active; 
    }
}

.owl-carousel .widget-item-left {
    padding: 10px 0!important;
}

.tile {
    height: 120px!important;
    line-height: 98px!important;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2); 
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);

    &:hover, &:focus {
        text-decoration: none;
        color: white;
    }
}

.widget {
    height: 120px!important;
}



.widget-hidden-controls {
    .widget-controls a {
        opacity: 0!important;
        // filter: alpha(opacity = 0);
    }

    &:hover .widget-controls a {
        opacity: 0.8!important;
        // filter: alpha(opacity = 80);
    }
}
